#map {
  max-width: 100%;
  height: 300px;
  background-color: grey;
  margin: 20px;
}

#map img {
	max-width: none;
	max-height: none;
}

body {
	height: 100%;
  margin: 0;
  padding: 0;
	background-color: #D7DBDC;
	font-family: 'Lato', sans-serif;
}

h2 {
	margin: 15px 0 15px 20px;
}

p {
	margin: 15px 15px 15px 20px; 
	word-wrap: break-word;
  margin-bottom: 15px;
}
i {
	margin-right: 20px;
}
hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #c83036, white, #c83036);
  background-image: -moz-linear-gradient(left, #c83036, white, #c83036);
  background-image: -ms-linear-gradient(left, #c83036, white, #c83036);
  background-image: -o-linear-gradient(left, #c83036, white, #c83036); 
}

.container {
	background-color: #c83036;
	color: white;
  width: 60%;
	margin: 20px auto;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	box-shadow:  0px 6px 10px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);		
	padding: none;	 
}

.navbar {
	background-color: #c83036;
	border: none;
  border-radius: 0;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	/*box-shadow:  0px 6px 10px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);*/
}

.navbar-default .navbar-brand img {
  max-height: 100%;
  border-radius: 50%;
  display: inline-block;
}
.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #D7DBDC;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #D7DBDC;
}

.image{
  vertical-align: middle;
  padding: 0;
}

.navbar-right {
	text-align: right;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

a {
	color: white;
}
a:hover {
	color:white;
	text-decoration: none;
}

.slideshow {
  margin: auto;
  width: 80%;
}
#slider {
    opacity:1;
    transition: opacity 1s; 
    width: 100%;
}

#slider.fadeOut {
    opacity:0;
}

.flex { 
    display: flex;
    flex-wrap: wrap;
}

#adres {
	padding-top:3em;
}
/*.thumbnail {
	box-shadow:  0px 6px 10px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}*/


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #D7DBDC;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}